[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
black = "*"
pymongo = "*"
textblob = "*"
tomli = "*"
typing-extensions = "*"
python-dotenv = "*"
coverage = "*"
pytest = "*"

[dev-packages]
pytest = "*"
coverage = "*"
dill = "*"
exceptiongroup = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"
