<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/global.css">
        <title>Document</title>
</head>
<body>
    <h1 class="title">BITE<span id="i-color">BUZZ</span></h1>

    <div class="tabs">
        <button class="tab-button">tab 1</button>
        <button class="tab-button" id="inactive">tab 2</button>
    </div>

    <div class="main">
        <!-- <div class="cog-class">
            <svg id="cog-svg">
                <use href="../static/images/icons.svg#cog"/>
            </svg>
        </div> -->

        <textarea class="text-box" name="text-box"
            placeholder="Paste your review here"></textarea>

        <div class="button-class">
            <button id="button">click</button>
        </div>
    </div>

    <div>whaddup</div>

</body>
</html>